
<section class="row bg-danger shadow border-bottom border-secondary">

  <div class="col-2 bg-warning d-flex justify-content-end text-danger">
    <i class="fa-solid fa-car-crash"></i>
  </div>

  <div class="col-8 text-center">

    <!-- This is a component -->
    <div app-head></div>

  </div>

  <div class="col-2 bg-warning text-danger">
    <i class="fa-solid fa-skull-crossbones"></i>
  </div>


</section>

<section id="searchbar" class="mt-5">
  <div class= "app-search"></div>
</section>
